<h2>Voir toutes les listes</h2>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Créer une nouvelle liste", new_list_path(@list) %>
